/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* inspired by Flexbox Grid, http://flexboxgrid.com/ 

Note lack of browser prefixing -- this is to keep code easy to read. For backwards compatibility, prefix the Flexbox properties!

*/
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  margin-left: -0.5rem;
  margin-right: -0.5rem; 
}
[class*="col"] {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.col-1-2,
.col-1-4 {
  background-color: #ffc;
}
.col-2 {
  background-color: #ccf;
}
.col-3 {
  background-color: #fcf;
}
.col-4 {
  background-color: #cff;
}
@media only screen and (min-width: 550px) {
	.col-1-2 {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
}
@media only screen and (min-width: 900px) {
	.col-1-2,
	.col-1-4 {
	  flex: 0 0 25%;
	  max-width: 25%;
	}
	.col-2 {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	.col-3 {
	  flex: 0 0 75%;
	  max-width: 75%;
	}
}



body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
a:hover {
	text-decoration: none;
}
div {
	border: 1px solid #999;
}
div img {
	width: 100%;
	max-width: 225px;
}

